.price-card {
  &__price {
    &_first-card {
      background-color: $color-green;
    }
  }

  &__checkmark {
    &_first-card {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
    }
  }

  &__button {
    &_first-card {
      background-color: $color-green;
    }
  }
}
