.price-card {
  position: relative;

  &__popular {
    position: absolute;
    left: 100;
  }

  &__price {
    &_second-card {
      background-color: $color-blue;
    }
  }

  &__checkmark {
    &_second-card {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
    }
  }

  &__button {
    &_second-card {
      background-color: $color-blue;
    }
  }
}
