.price-card {
  &__price {
    &_third-card {
      background-color: $color-orange;
    }
  }

  &__checkmark {
    &_third-card {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
    }
  }

  &__button {
    &_third-card {
      background-color: $color-orange;
    }
  }
}
