@import 'variables.scss';
@import 'common.scss';
@import 'card1.scss';
@import 'card2.scss';
@import 'card3.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.main {
  background-color: $color-dark-gray;
}

.price-cards {
  padding: 115px 132px;
  display: flex;
}
