@import 'variables.scss';
@import 'common.scss';
@import 'card1.scss';
@import 'card2.scss';
@import 'card3.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  background-color: $color-dark-gray;
  min-height: 100vh;
}

.main {
  margin: auto;
}

.price-cards {
  display: flex;
}
