$color-white: #ffffff;
$color-dark-gray: #141b1c;
$color-gray: #334247;
$color-green: #5bb189;
$color-blue: #3a6ba5;
$color-orange: #ec632a;
$color-red: #dc3f45;

$color-list-dark: #2a3438;
$color-list-light: #1f3d6302;
